<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>This is an Index Page of Vets</title>
</head>
<body>
<h2>
    <p th:text="'Pet Clinic Vet List Page'">x</p>
</h2>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="vet: ${vets}">
        <td th:text="${vet?.id}">1</td>
        <td th:text="${vet?.firstName}">John</td>
        <td th:text="${vet?.lastName}">Doe</td>
    </tr>
</table>


</body>
</html>